#!/bin/bash
#This is the configuration file for LFS-7.5 Systemd

LFS_HOME=/media/lfs
LFS_USER=lfs
LFS_GROUP=lfs
LFS_VERSION=7.5
SYSTEMD_ENABLED=true
LFS_PARTITION=/dev/sdb
LFS_SOURCE_LIST="download_list"
LFS_SOURCES=$LFS_HOME/sources
LFS_TOOLS=$LFS_HOME/tools
LFS_DATA_FILE="lfs_progress.dat"
MD5SUM_FILE="md5sums"
SCRIPT_ROOT_PATH=$(pwd)
LFS_PASSWORD="lfs"

TEMP_TOOLCHAIN_BUILD_DIR="temp_builds"

TAR_BZ=.tar.bz2
TAR_XZ=.tar.xz
TAR_GZ=.tar.gz
###########################

BINUTILS_VERSION=2.24
BINUTILS_STRING="binutils-"
BINUTILS_TAR=$TAR_BZ

GCC_VERSION=4.8.2
GCC_STRING="gcc-"
GCC_TAR=$TAR_BZ

MPFR_VERSION=3.1.2
MPFR_STRING="mpfr-"
MPFR_TAR=$TAR_XZ

LINUX_API_STRING="linux-"
LINUX_API_VERSION=3.13.3
LINUX_API_TAR=$TAR_XZ

GMP_VERSION=5.1.3
GMP_STRING="gmp-"
GMP_TAR=$TAR_XZ

MPC_VERSION=1.0.2
MPC_STRING="mpc-"
MPC_TAR=$TAR_GZ

GLIBC_VERSION=2.19
GLIBC_STRING="glibc-"
GLIBC_TAR=$TAR_XZ
###########################
